/*TODO ESTO ES EL FONDO DE LA PAGINA*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

