article#activar {
  display: none;
}
section#articulo-product-detaill {
  width: 90vw;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
section#name-product {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
}
section#name-product p#nombre {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
p#corazon {
  display: flex;
  justify-content: flex-end;
  color: #1259c3;
}
i.fa-heart {
  font-size: 1rem;
}
section#stars-and-mas-vendido {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  margin-bottom: 0.5rem;
}
section#stars-and-mas-vendido p#stars {
  color: #1259c3;
  margin-bottom: 0.5rem;
}
p#stars{
  text-align: start;
}
section#stars-and-mas-vendido p#mas-vendido {
  width: 30vw;
  text-align: center;
  color: white;
  padding: 0.3rem;
  background-color: rgb(255, 123, 0);
  border-radius: 0.2rem;
  font-size: 0.7rem;
}
article#img-article img {
  width: 100%;
  border-radius: 0.3rem;
}
section#img-article {
  text-align: center;
}
article#footer-product {
  /* background-color: white; */
}
section#section-share {
  display: flex;
  justify-content: flex-end;
}
i.fa-share-alt {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(240, 239, 239);
  color: #666;
  background-color: rgb(240, 239, 239);
  border-radius: 50%;
}
section#option-color {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0.5rem;
}
select#color-option {
  width: 90vw;
  border-radius: 0.3rem;
  background-color: rgb(240, 239, 239);
  border: none;
}
section#info-product {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}
section#info-product p#precio {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 0.3rem;
  color: #666;
}
section#info-product p#descuento {
  color: #39b54a;
}
/* section#icon-truck{
  text-align: end;
} */
section#info-envio {
  margin: 0.5rem 0.2rem;
}
section#info-envio p {
  text-align: start;
  color: #39b54a;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
p#stock {
  text-align: start;
  font-weight: 700;
  color: #666;
}
section#cantidad-product {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0.3rem;
}
select#cantidad {
  width: 90vw;
  background-color: rgb(240, 239, 239);
  border: none;
  border-radius: 0.3rem;
}
section#buttons {
  display: flex;
  flex-direction: column;
}
button#comprar {
  width: 80vw;
  background-color: #1259c3;
  color: white;
  border-radius: 0.3rem;
  border: none;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
}
button#agregar-carrito {
  width: 80vw;
  background-color: #e2edfc;
  color: #1259c3;
  border-radius: 0.3rem;
  border: none;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  section#name-product {
    margin-left: 1rem;
  }
  p#corazon {
    margin-right: 1rem;
  }
  section#stars-and-mas-vendido {
    /* margin-left: 1rem; */
  }
  i.fa-heart {
    display: flex;
  }
  section#stars-and-mas-vendido p#mas-vendido {
    width: 15vw;
  }
  article#img-article img {
    width: 40%;
  }
  article#footer-product {
    /* background-color: white; */
  }
  section#section-share {
    margin-right: 1rem;
  }
  section#option-color {
    justify-content: center;
  }
  select#color-option {
    width: 50vw;
  }
  section#info-product {
    margin-top: 1rem;
  }
  section#info-product p#precio {
    margin-left: 1rem;
  }
  /* section#icon-truck{
    text-align: end;
  } */
  section#info-envio p {
    text-align: center;
    margin-bottom: 1rem;
  }
  p#stock {
    text-align: center;
    margin: 1rem;
  }
  section#cantidad-product {
    justify-content: center;
  }
  select#cantidad {
    width: 50vw;
    margin: 0.5rem;
  }
  section#buttons {
    display: flex;
    flex-direction: column;
  }
  button#comprar {
    width: 50vw;
  }
  button#agregar-carrito {
    width: 50vw;
  }
}
@media screen and (min-width: 1200px) {
  article#sacar {
    display: none;
  }
  article#conteiner-1200px {
    display: flex;
    justify-content: flex-end;
  }
  article#activar {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  article#img-article img {
    width: 40vw;
  }
  article#img-article {
    margin-left: 4rem;
    border-bottom: solid #666 1px;
  }
  section#info-product-1200px {
    border: #666 solid 1px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 25vw;
  }
  p#nombre {
    text-align: start;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  p#corazon {
    margin-right: 1rem;
  }
  p#stars {
    text-align: start;
    /* margin-left: 0.5rem; */
  }
  section#stars-and-mas-vendido {
    text-align: start;
    margin-left: 0.5rem;
  }
  section#stars-and-mas-vendido p#mas-vendido {
    width: 8vw;
  }
  select#color-option {
    width: 20vw;
  }
  section#info-product {
    margin-top: 1rem;
  }
  section#info-product p#precio {
    margin-left: 0.5rem;
  }
  /* section#icon-truck{
      text-align: end;
    } */
  section#info-envio p {
    margin-left: 0.5rem;
    text-align: left;
  }
  p#stock {
    margin-left: 0.5rem;
    text-align: left;
  }
  select#cantidad {
    width: 20vw;
  }
  button#comprar {
    width: 20vw;
    padding: 0.7rem;
  }
  button#agregar-carrito {
    width: 20vw;
    padding: 0.7rem;
  }
}
