<footer class="footer">
    <section class="articulos-footer">
      <article class="final-footer">
        <p class="logo-footer"><i class="fas fa-credit-card"></i></p>
        <h4>Paga con tarjeta o en efectivo</h4>
        <p class="texto">Con MercadoLibreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </article>
      <article class="final-footer">
        <p class="logo-footer"><i class="fas fa-gift"></i></p>
        <h4 class="encabezado"> Envios gratis desde los $2.500</h4>
        <p class="texto">Solo por estar resgistrado en Mercado Libre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </article>
      <article class="final-footer">
        <p class="logo-footer"><i class="fas fa-user-shield"></i></p>
        <h4 class="encabezado">Seguridad de principio a fin</h4>
        <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Libre no hay nada que no puedas hacer porque estas siempre protegid@</p>
      </article>
    </section>
    <section class="copy">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>