<header class="header">
    <section class="main-header">
      <figure class="logo"> <a href="/"> <img src="/img/logo-mercado-liebre.svg"> </a> </figure>
      <form class="barra-busqueda" method="GET" action="/">
        <input type="text" placeholder="Buscar"name="barra-busqueda" id="barra-busqueda">
        <button type="submit" name="button-search"><i class="fas fa-search"></i></button>
      </form> 
      <h2 id="mensaje-publicidad-inicio-copy"> <i class="fas fa-hand-holding-usd"></i> Compá en cuotas y sin tarjeta de credito </i></h2>
    </section>
    <nav class="ul">
      <ul>
        <li class="links"><a href="">Ofertas</a></li>
        <li class="links"><a href="">Tiendas Oficiales</a></li>
        <li class="links"><a href="">Vender</a></li>
        <li class="links"><a href="">Ayuda</a></li>
      </ul>

      <ul>
        <li class="links"><a href="/register">Crea tu cuenta <i class="far fa-address-card"></i></a></li>  
        <li class="links"><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li class="links"><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li> 
      </ul>
      </nav>

      <nav class="burger-menu">
        <a href="/login">
          <i class="fas fa-bars">
          </i>
        </a>
      </nav>
  </header>