<head>
    <meta charset="UTF-8">
      <title>Mercado Libre Argentina</title> <!--TITULO DE PAGINA-->
  
    <!--LOGO MERCADO LIBRE-->
  
    <link rel="shortcut icon" href="/img/1200px-MercadoLibre.svg-1-810x409.png"/> 
      
      <!--LINKS ARCHIVOS CSS-->
      <link rel="stylesheet" href="/css/reset.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/header.css">   
      <link rel="stylesheet" href="/css/body.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/footer.css">
      <link rel="stylesheet" href="/css/productDetaill.css">
  
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minum-scale=1.0" >
  </head>
    