<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
      <title>Sing Up</title>
      <%- include("includes/head") %> 
      <body> 
      <%- include("includes/header") %> 
    <img class="banner" src="/img/img-home-banner.jpg">
      <main class="main-sing-up">
          <p id="mensaje-sing-up">Ingresa Tu Cuenta</p>
        <section class="usuario">
          <label for="Usuario">
          <input type="text" placeholder="Nombre de Usuario"name="usuario" id="usuario">
          </label>
        </section>
        <fieldset class="password">
          <label>
            <input type="password" placeholder="Contraseña" name="password" id="password">
          </label>
          </fieldset>
          <label>
            <section class="button-enviar">
            <button type="button" name="enviar">Enviar</button>
          </label>
        </section> 
      </main>
      <%- include("includes/footer") %> 
     </body>
    </html>
    